/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;

}

ul,ol,menu{
    list-style: none;
}

img{
    max-width: 100%;
}

button{
    padding: 5px 10px ;
    border: none;
    background-color: #0064f7;
    color: white;
}



/* LAYOUT */

.container-lg{
    width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.container-sm{
    margin: 0 auto;
    max-width: 700px;
}

.row{
    width: 100%;
}

.col-33{
    width: calc((100% / 3) - 10px);
    /* max-height: 100%; */
}

.col-66{
    width: 77%;
}

.col-100{
    width: 100%;
}

/* STYLE */

/* Navigation bar */
.row__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.row__nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;

}



/* hero content */
.container-lg__main h1{
    padding: 40px;
    text-align: center;
}

.container-lg__main{
    background-color: #abcfe4;

}



.container__hero{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content:center ;
    flex-direction: row;

}

.row__hero{
    display: flex;

}

.col-33__hero{
    width: 33%;
    padding: 0 20px;
    display: flex;

    flex-direction: column;

}

.col-33__hero i{
    margin-top: auto;
}

.col-33__content *{
    margin-top: auto;
}

.col-66__hero{
    width: 77%;
}

/* plane content */

.container__plane{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.container-sm__plane{
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.row__plane{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* card plane */

.header-card{
    border: 1px solid #cfcfd2;
    text-align: center;
}

.main-card{

}

.main-card ul li{

    padding: 20px 0;

}

.main-card ul
{
    padding: 20px;
    font-size: 12px;
}

/* partner section */

.col-60__part{
    width: 60%;
}

.col-40__part{
    width: 40%;
}

/* Dropbox business  */

.col-4{
    width: calc(4 * 100% /12);
}

/* color square */

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:  50%;
    min-height: 50%;
}

.square img{
    max-width: 150px;
    /* margin: 27%; */
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

.big-square{
    padding: 30px;
    font-size: 12px;
}

.big-square p{
    padding-top: 40px;
}

/* F.A.Q */

.faq *{
    margin: 20px 0;
}

.faq i{
    margin: 0 173px;
}


/* Footer */

.col-25{
    width: 25%;
}

.col-25 ul > li{
    padding: 5px 0;
}

.national *{
    padding: 60px 0;

}

.national span{
    padding: 0 7px;

}


/* UTILITY */

.margvert{
    margin: 20px 0;
}

.margorizz{
    margin: 0 110px;
}

.paddvert{
    padding: 20px 0;
}
.paddoriz{
    padding: 0 20px;
}
.padd-top{
    padding-top: 20px;
}
.flex{
    display: flex;
}

.border{
    border: 1px solid #cfcfd2;
}
.padding{
    padding: 20px;
}

.font-size{
    font-size: 12px;
}

.padd-top__arrow{
    padding-top: 90px;
    font-size: 40px;
}

.padding-25{
    padding: 25px;
}

.padding-60{
    padding: 60px;
}

.wrap{
    flex-wrap: wrap;
}

.marg-top{
    margin-top: 60px;

}

.font-white{
    color: white;
}

.font-black{
    color: black;
}

.bg-green{
    background-color: #93d29e;
}

.bg-darkred{
    background-color: #6a082f;

}

.bg-azure{
    background-color: #0093c9;
}

.bg-red{
    background-color: #ff122f;
}

.bg-grey{
    background-color: #f5f5f5;
}

.bg-blue{
    background-color: blue;
}

.bg-gold{
    background-color:goldenrod;
}

.bg-azuredark{
    background-color:#abcfe4;
}

.bg-black{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.border-button{
    border: 1px solid black;
}