/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;

}

ul,ol,menu{
    list-style: none;
}

img{
    max-width: 100%;
}

button{
    padding: 5px 10px ;
    border: none;
}



/* LAYOUT */

.container-lg{
    width: 100%;
}

.container{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.container-sm{
    margin: 0 auto
}

.row{
    width: 100%;
}

.col-33{
    width: calc(100% / 3);
}

.col-66{
    width: 77%;
}

.col-100{
    width: 100%;
}

/* STYLE */

/* Navigation bar */
.row__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.row__nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}



/* hero content */
.container-lg__main h1{
    padding: 40px;
    text-align: center;
}

.container-lg__main{
    background-color: #abcfe4;
    
}



.container__hero{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content:center ;
    flex-direction: row;
    
}

.row__hero{
    display: flex;
    
}

.col-33__hero{
    width: 33%;
    padding: 0 20px;
    display: flex;
    
    flex-direction: column;
    
}

.col-33__hero i{
    margin-top: auto;
}

.col-33__content *{
    margin-top: auto;
}

.col-66__hero{
    width: 77%;
}

/* plane content */

.container__plane{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.container-sm__plane{
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.row__plane{
    display: flex;
}

/* card plane */

.header-card{
    border: 1px solid #cfcfd2;
    text-align: center;
}

.main-card{
    border: 1px solid #cfcfd2;
}













/* UTILITY */

.margvert{
    margin: 20px 0;
}

.paddvert{
    padding: 20px 0;
}
.paddoriz{
    padding: 0 20px;
}

.flex{
    display: flex;
}